NEXT_PUBLIC_SUPABASE_URL=https://wpziabhigztyjrmjpmbw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_olELliKqzODfSnml8a4hGA_oeGYk_mN
SUPABASE_SERVICE_ROLE_KEY=sb_secret_WsPaB--O3-zHlTy_h_0Vxg_cdK8yaIO

RESEND_API_KEY=
EMAIL_FROM="Big Matt's BBQ <orders@bigmattsbbq.com>"
EMAIL_REPLY_TO=
