<h1>Menu</h1>
<h2>Beef</h2>
  <ul>
    <li>Brisket</li>
    <li>Tri-tip</li>
    <li>Beef Ribs</li>
  </ul>
<h2>Pork</h2>
  <ul>
    <li>Pulled Pork</li>
    <li>Pork Loin</li>
    <li>Ribs</li>
    <li>Pork Belly</li>
  </ul>
<h2>Chicken</h2>
  <ul>
    <li>Chicken Thighs</li>
    <li>Chicken Breast</li>
  </ul>
<h2>Sides</h2>
  <ul>
    <li>Dutch Oven Potatoes</li>
    <li>Baked Beans</li>
    <li>Dinner Rolls</li>
    <li>Deluxe Dinner Rolls</li>
  </ul>
<h2>Desserts</h2>
  <ul>
    <li>Homemade Oreos</li>
    <li>Cheesecake</li>
  </ul>
