td:first-child{
    width: 200px;
}

td:nth-child(2){
    text-align: right;
    width: 200px;
}

div, table {
    max-width: 400px;
    margin: auto;
}

hr {
    border-top: 1px solid white;
}

h2, p{
    text-align: center;
}

ul {
    list-style: none;
}