<div id="MenuMains" class="menuCategory">
  <h2>MAINS</h2>
  <p>Typically plan on 1/2 pound per person</p>
  <hr />
  <table *ngFor="let item of mainsList">
    <tr>
      <td>{{item.name}}</td>
      <td>${{item.price}} / {{item.unit}}</td>
    </tr>
  </table>
</div>

<br />

<div id="MenuSides" class="menuCategory">
  <h2>SIDES</h2>
  <hr />
  <table *ngFor="let item of sidesList">
    <tr>
      <td>{{item.name}}</td>
      <td>${{item.price}} / {{item.unit}}</td>
    </tr>
  </table>
</div>

<br />

<div id="MenuDesserts" class="menuCategory">
  <h2>DESSERTS</h2>
  <p>Request quote for pricing</p>
  <hr>
  <table *ngFor="let item of dessertsList">
    <tr>
      <td>{{item.name}}</td>
    </tr>
  </table>
</div>

<br />

<div>
  <h2>TO ORDER</h2>
  <hr>
  <ul>
    <li>Email at <a href = "mailto: bigmattsbarbecue@gmail.com?subject = Website Order">bigmattsbarbecue@gmail.com</a></li>
    <li>Call or text <a href="tel:2088526267">208-852-6267</a></li>
  </ul>
  <p>Flexible delivery options available</p>
</div>

<!-- <img [src] ="MenuPath" width="100%"> -->
