app-home{
  display: block;
}

header {
  height: 150px;
  border-bottom: solid 1px gray;
}

html, body {
  min-height: 100%;
}

body{
  padding: 25px;
  background-color: #292d30;
  color: white;
  margin: 0px;
  min-height: 100vh;
  min-width: 100vw;
}

footer {
  width: 100%;
  height: 10em;
  text-align: center;
  border-top: solid 1px gray;
  background-color: #292d30;
  padding-top: 1em;
}

footer a img {
  float: right;
  width:50px;
  margin-top: 3em;
  margin-bottom: auto;
  margin-right: 1em;
}

#logo {
  float: left;
}

.navBar {
  float: left;
  margin-left: 3em;
  margin-top: 50px;
}

#contactUs{
  float: left;
  width: 8em;
}

footer .social-btn {
  float: right;
  width: 50px;
  height: 50px;
  background:#e85148;
  margin-top: 3em;
  margin-bottom: auto;
  margin-right: 2em;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 5px 10px 0px #909090;
  color: #ffffff;
  overflow: hidden;
  position: relative;
  border: 1px dotted #fff;
}
footer .social-btn i {
  line-height: 50px;
  font-size: 22px;
  transition: 0.2s linear;
}
footer .social-btn:hover i {
  transform: scale(1.3);
  color: #C8102E;
}
footer .social-btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #ffffff;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
footer .social-btn:hover::before {
  animation: effect 0.6s 1;
  top: -10%;
  left: -10%;
}
footer p a {
  color: #C8102E;
}

/*-- Hover Animation Effect --*/
@keyframes effect {
  0% {
      left: -120%;
      top: 100%;
  }
  50% {
      left: 10%;
      top: -30%;
  }
  100% {
      top: -10%;
      left: -10%;
  }
}


/*-- Footer Responsive CSS --*/
@media (max-width: 576px){
footer .social-btn {
  width: 40px;
  height: 40px;
  margin: 5px;
}
footer .social-btn i {
  line-height: 40px;
  font-size: 18px;
}
}