<head>
  <title>Big Matt's BBQ</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
</head>
<body>
  <header>
    <a routerLink=""><img id="logo" src="assets/images/Logo_No_Background.png" alt="Logo" height="150em" width="150em"></a>
    <app-nav-bar class="navBar"></app-nav-bar>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <app-footer></app-footer>
</body>