app-home{
  display: block;
}

body{
  padding: 25px;
  background-color: #36454f;
  color: white;
  margin: auto;
}

footer {
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #36454f;
  padding-left: 20%;
}

footer a img {
  float: left;
  width:5%;
  margin: 10px;
}

img {
  display: inline;
}

.navBar {
  float: right;
  margin-top: 5%;
}