<head>
  <title>Big Matt's BBQ</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
  <header>
    <img src="assets/images/Logo_No_Background.png" alt="Logo" height="200" width="200">
    <app-nav-bar class="navBar"></app-nav-bar>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    Established 2021
    <a href=""><img src="assets/images/intagram_logo.png" alt="Instagram"></a>
    <a href=""><img src="assets/images/facebook_logo.png" alt="Facebook"></a>
  </footer>
</body>