<ul class="nav nav-pills">
  <li class="nav-item">
    <a routerLinkActive="active current" [routerLinkActiveOptions]="{exact: true}" class="nav-link" routerLink="">Home</a>
  </li>
  <li class="nav-item">
    <a routerLinkActive="active current" class="nav-link" routerLink="/menu">Menu</a>
  </li>
  <li class="nav-item">
    <a routerLinkActive="active current" [routerLinkActiveOptions]="{exact: true}" class="nav-link" routerLink="">Our Adventures</a>
  </li>
  <li class="nav-item">
    <a routerLinkActive="active current" class="nav-link" routerLink="/quote">Schedule an Event</a>
  </li>
  <li class="nav-item">
    <a routerLinkActive="active current" class="nav-link" routerLink="/about">About Us</a>
  </li>
</ul>
