ul{
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: white;
}

.nav-pills > li > a.active, .nav-pills > li > a:hover{
    background-color:#e85148 !important;
    color:white !important;
  }