<ul class="nav nav-pills">
  <li class="nav-item">
    <a routerLinkActive="active current" class="nav-link" routerLink="/menu">Menu</a>
  </li>
  <li class="nav-item">
    <a routerLinkActive="active current" class="nav-link" routerLink="/quote">Schedule an Event</a>
  </li>
  <li class="nav-item">
    <a routerLinkActive="active current" class="nav-link" routerLink="/schedule">Where We'll Be</a>
  </li>
  <li class="nav-item">
    <a routerLinkActive="active current" class="nav-link" routerLink="/equipment">What We Use</a>
  </li>
  <li class="nav-item">
    <a routerLinkActive="active current" class="nav-link" routerLink="/blog">Our Adventures</a>
  </li>
  <li class="nav-item">
    <a routerLinkActive="active current" class="nav-link" routerLink="/about">About Us</a>
  </li>
</ul>
