<section class="row">
    <div class="photo"><img src="assets/images/Logo_No_Background.png" alt="Logo" height="300px"></div>
    <div class="content">
        <p>Leave the cooking to us!</p>
        <a routerLink="/quote" class="button button-red"><span>Schedule an Event</span></a>
    </div>
</section>

<section class="row">
    <div class="content">
        <p>Come on in and see our wares</p>
        <a routerLink="/menu" class="button button-red"><span>View Menu</span></a>
    </div>
    <div class="photo"><img src="assets/images/Logo_No_Background.png" alt="Logo" height="300px"></div>
</section>

<section class="row">
    <div class="photo"><img src="assets/images/Logo_No_Background.png" alt="Logo" height="300px"></div>
    <div class="content">
        <p>We've been up to some fun</p>
        <a routerLink="/blog" class="button button-red"><span>View Our Adventures</span></a>
    </div>
</section>

<section class="row">
    <div class="content">
        <p>Learn about the people behind the tasty eats</p>
        <a routerLink="/about" class="button button-red"><span>About Us</span></a>
    </div>
    <div class="photo"><img src="assets/images/Logo_No_Background.png" alt="Logo" height="300px"></div>
</section>
