<section class="row">
    <div class="photo"><img src="assets/images/Brisket_Square.jpg" alt="Brisket" width="450px"></div>
    <div class="content">
        <p>Leave the cooking to us!</p>
        <a routerLink="/quote" class="button button-red"><span>Schedule an Event</span></a>
    </div>
</section>

<section class="row">
    <div class="content">
        <p>Come on in and see our wares</p>
        <a routerLink="/menu" class="button button-red"><span>View Menu</span></a>
    </div>
    <div class="photo"><img src="assets/images/Cornbread_Square.jpg" alt="Cornbread" width="450px"></div>
</section>

<section class="row">
    <div class="photo"><img src="assets/images/Homemade_Oreos_Square.jpg" alt="Homemade Oreos" width="450px"></div>
    <div class="content">
        <p>We've been up to some fun</p>
        <a routerLink="/blog" class="button button-red"><span>View Our Adventures</span></a>
    </div>
</section>

<section class="row">
    <div class="content">
        <p>Learn about the people behind the tasty eats</p>
        <a routerLink="/about" class="button button-red"><span>About Us</span></a>
    </div>
    <div class="photo"><img src="assets/images/Ribs_Square.jpg" alt="Ribs" width="450px"></div>
</section>
